name: Deploy Next.js to VPS

on:
  push:
    branches:
      - main  # O la rama que usas para producción

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js 22.13.1
        uses: actions/setup-node@v4
        with:
          node-version: 22.13.1

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          script: |
            # Ejecutar el script sin ponerlo en segundo plano
            cd /home/siro/siro.cl/
            
            # Paso 2: Actualizar código
            echo "Actualizando código..."
            git pull origin main
            
            # Paso 3: Configurar Node.js en el servidor (si es necesario)
            echo "Usando Node.js 22.13.1 en el servidor..."
            source ~/.nvm/nvm.sh
            nvm use 22.13.1
            
            # Paso 4: Instalar dependencias
            echo "Instalando dependencias..."
            npm i
            
            # Paso 5: Construir la aplicación
            echo "Construyendo la aplicación..."
            npm run build

            # Paso 6: Detener proceso actual si existe
            echo "Deteniendo el proceso actual si existe..."
            pm2 stop 0 || true  # Si el proceso no existe, no hace nada
            
            # Paso 7: Iniciar la aplicación
            echo "Iniciando la aplicación..."
            pm2 start npm --name "next-app" -- run start
