name: Deploy Next.js to VPS

on:
  push:
    branches:
      - main  # O la rama que usas para producción

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Verificar versión de Node.js
        run: |
          echo "Versión de Node.js:"
          node -v

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          script: |
            # Ejecutar el script sin ponerlo en segundo plano
            bash /home/siro/deploy.sh | tee /home/siro/deploy.log

            echo "Despliegue completado."

