name: Deploy Next.js to VPS

on:
  push:
    branches:
      - main  # O la rama que usas para producción

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          script: |
            cd /home/siro/siro.cl/

            # Paso 1: Detener la aplicación
            PORT=3000
            PID=$(lsof -t -i:$PORT)

            if [ ! -z "$PID" ]; then
              echo "Deteniendo la aplicación en el puerto $PORT..."
              kill -9 $PID
            else
              echo "No hay aplicación corriendo en el puerto $PORT."
            fi

            # Paso 2: Actualizar código
            echo "Actualizando código..."
            git pull origin main

            # Paso 3: Instalar dependencias
            echo "Instalando dependencias..."
            npm install --omit=dev

            # Paso 4: Construir la aplicación
            echo "Construyendo la aplicación..."
            npm run build

            # Paso 5: Iniciar la aplicación
            nohup npm start > output.log 2>&1 &

            echo "Despliegue completado."
